body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styles universal for all Todo items */
.itemUpdater {
  font-size: 18;
  color: darkgray;
  padding: 0.5em;
  width: 500px;
}

/* BEM-style modifier classname */
/* only for checked Todo items */
.itemUpdater--checked {
  text-decoration: line-through;
}
